<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header>
<app-nav [showMenu]="showMenu"></app-nav> -->
<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header> -->
<p-toast></p-toast>

<!--------------------- tabela --------------------------------------->
<p-card>
    
    <h3>Temas Sugeridos</h3>
    <p-table #dt [value]="propostas" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id" [globalFilterFields]="['proposta.titulo']"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} propostas" styleClass="p-datatable-customers p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <!-- <div class="p-d-flex p-nogutter p-jc-between">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limparTabela(dt)"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
            </div> -->
            <div class="p-d-flex">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tema <p-columnFilter type="text" field="proposta.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Area <p-columnFilter type="text" field="proposta.descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Professor <p-columnFilter type="text" field="proposta.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estado <p-columnFilter type="text" field="proposta.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th style="width:14rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefone de Serviço <p-columnFilter type="text" field="detalhes.telefone1" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voip <p-columnFilter type="text" field="area.voip" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        BigAnt <p-columnFilter type="text" field="detalhes.bigAnt" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th style="width:10rem;text-align:center">Operação</th>
                <!-- <th class="p-d-flex p-jc-between p-ai-center">Operação</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proposta>
            <tr>
                <td>{{proposta.titulo}}</td>
                <td>{{proposta?.area?.descricao}}</td>
                <td>{{proposta?.professor?.nome}}</td>
                <td>{{findEstadoProposta(proposta?.estado)}}</td>
                <!-- <td>{{findArea(proposta?.idArea)}}</td>
                <td>{{findProfessor(proposta?.idProfessor)}}</td> -->
                <!-- <td>{{proposta.Professor.Nome}}</td> -->
                 <!--<td>{{findNomeCompleto(proposta.codigoDoCandidato)}}</td> {{contacto.proposta.nome}}-->
                <!-- <td>{{findArea(proposta.ultimaActualizacaoLaboral?.areaId)}} ({{findOrgao(proposta.ultimaActualizacaoLaboral?.orgaoId)}})</td> {{contacto.area.denominacao}} ({{contacto.area.orgao.sigla}}) -->
                <!--<td>{{proposta.ultimaActualizacaoLaboral?.cargo?.estruturaCargo}}</td>  {{contacto.proposta.cargo}} -->
                <td style="text-align:center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-mr-2" (click)="modal(proposta)" pTooltip="Editar" tooltipPosition="bottom"></button>
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-help p-button-text" (click)="modalDetalhes(proposta)" pTooltip="Detalhes" tooltipPosition="bottom"></button>
                    <!-- <p-checkbox *ngIf="!proposta.respostaEstudante" id="{{proposta.id}}" [(ngModel)]="proposta.respostaEstudante" [binary]="true" (onChange)="alterarEstado(proposta)"></p-checkbox> -->
                    <button *ngIf="parametro!=='dsics-admin'" pButton pRipple icon="pi pi-thumbs-up" class="p-button-rounded p-button-text" (click)="alterarEstado(proposta)" pTooltip="Aceitar Proposta" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align:center">LISTA DE TEMAS SUGERIDOS VAZIA.</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-jc-between">
            <p-button label="Retroceder" (onClick)="retroceder()" icon="pi pi-angle-left"></p-button>
            <p-button label="Seguinte" (onClick)="proximo()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
    <!-- <ng-template pTemplate="content">
    </ng-template> -->
</p-card>

<!--------------------- modal --------------------------------------->
<p-dialog #formProposta [header]="cabecario" appendTo="body" [(visible)]="exibir" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-8">
            <label>Titulo *</label>
            <input id="titulo" type="text" [(ngModel)]="proposta.titulo" pInputText> 
            <small class="p-invalid" *ngIf="validar && !proposta.titulo">Campo Obrigatório.</small>
        </div>

        <div class="p-field p-col-12 p-md-4">
            <label>Estado</label>
            <p-dropdown optionLabel="name" optionValue="code" inputId="estado" [options]="estadoPropostas" [(ngModel)]="proposta.estado" placeholder="-- Seleccionar --"></p-dropdown>
            <!-- <input id="estadoTarefa" type="text" [(ngModel)]="tarefa.estadoTarefa" pInputText>  -->
            <small class="p-invalid" *ngIf="validar && !proposta.estado">Campo Obrigatório.</small>
        </div> 

        <div class="p-field p-col-12 p-md-12">
            <label>Descrição</label>
            <input id="descricao" type="text" [(ngModel)]="proposta.descricao" pInputTextarea> 
            <small class="p-invalid" *ngIf="validar && !proposta.descricao">Campo Obrigatório.</small>
        </div> 

        <div class="p-field p-col-12 p-md-12">
            <label>Aceitar Proposta</label>
            <button *ngIf="parametro!=='dsics-admin'" pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-help p-button-text" (click)="alterarEstado(proposta)" pTooltip="Aceitar Proposta" tooltipPosition="bottom"></button>
            <!-- Icones para Aceitar Proposta pi-thumbs-up, pi-check -->
            <p-checkbox *ngIf="!proposta.respostaEstudante" id="{{proposta.id}}" [(ngModel)]="proposta.respostaEstudante" [binary]="true" (onChange)="alterarEstado(proposta)"></p-checkbox>
            <!-- <input id="respostaEstudante" type="text" [(ngModel)]="proposta.respostaEstudante" pInputTextarea>  -->
            <small class="p-invalid" *ngIf="validar && !proposta.respostaEstudante">Campo Obrigatório.</small>
        </div> 

        <!-- <div class="p-field p-col-12 p-md-6">
            <label>E-mail</label>
            <input id="email" type="text" [(ngModel)]="proposta.descricao" pInputText> 
            <small class="p-invalid" *ngIf="validar && !proposta.descricao">Campo Obrigatório.</small>
        </div>  -->

        
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-save"  (click)="salvar()" label="Salvar"></button>
        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancelar()" label="Cancelar" class="p-button-danger"></button>
    </ng-template>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-dialog header="DETALHES DO TEMA" appendTo="body" [(visible)]="exibirDetalhes" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-detalhes [proposta]="proposta"></app-detalhes>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-confirmDialog [style]="{width: '500px'}" #cd>
    <p-footer>
        <button class="p-button-success" type="button" pButton pRipple icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button class="p-button-danger" type="button" pButton pRipple icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
