<div class="p-grid p-m-4 p-jc-center">
    
    <p-card class="p-col-12 p-lg-2 cartao">
        <div class="p-grid p-d-flex p-jc-center">
            <h4 style="color: rgb(252, 252, 252); text-align: left; font-size: medium; font-weight: bold; padding-top: 5px;">Serviços</h4>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-grid p-d-flex p-jc-center">
                    <!-- <div class="p-col-12 p-d-flex p-jc-center">
                        <h4 style="color: rgb(59, 76, 94); text-align: left; font-size: medium; font-weight: bold;">Caso 27 de Maio</h4>
                    </div> -->
                    <div class="p-col-12 p-d-flex p-jc-center"> 
                        <i class="material-icons" style="font-size: 8em; color:rgb(252, 252, 252)">event</i>
                        <!-- <h1 style="color: #F1A509; text-align: center; font-size: 3em; font-weight: bold;">89</h1> -->
                    </div>
                </div>
            </div>
            <div class="p-grid p-col-12 p-jc-center" style="color: white">
                Marcação de Serviços
                <!-- <button pButton type="button" label="Visualizar" class="p-button-raised p-button-rounded p-button-info"></button> -->
            </div>

        </div>
    </p-card>
    
    <!-- <p-card class="p-col-12 p-lg-4">
        <div class="p-grid p-d-flex p-jc-center">
            <i class="material-icons" style="font-size: 2rem">person_search</i>
            <h4 style="color: rgb(59, 76, 94); text-align: left; font-size: medium; font-weight: bold; padding-top: 5px;">Desaparecido</h4>
        </div>
        <div class="p-grid">
            <div class="p-col-4">
                <div class="p-grid p-d-flex p-jc-center">
                    <div class="p-col-12 p-d-flex p-jc-center">
                        <h4 style="color: rgb(59, 76, 94); text-align: left; font-size: medium; font-weight: bold;">Caso 27 de Maio</h4>
                    </div>
                    <div class="p-col-12 p-d-flex p-jc-center"> 
                        <h1 style="color: #F1A509; text-align: center; font-size: 3em; font-weight: bold;">60</h1>
                    </div>
                </div>
            </div>
            <div class="p-col-4">
                <div class="p-grid p-d-flex p-jc-center">
                    <div class="p-col-12 p-d-flex p-jc-center">
                        <h4 style="color: rgb(59, 76, 94); text-align: left; font-size: medium; font-weight: bold;">Conflito Armado</h4>
                    </div>
                    <div class="p-col-12 p-d-flex p-jc-center"> 
                        <h1 style="color: #F1A509; text-align: center; font-size: 3em; font-weight: bold;">49</h1>
                    </div>
                </div>
            </div>
            <div class="p-col-4">
                <div class="p-grid p-d-flex p-jc-center">
                    <div class="p-col-12 p-d-flex p-jc-center">
                        <h4 style="color: rgb(59, 76, 94); text-align: left; font-size: medium; font-weight: bold;">Total</h4>
                    </div>
                    <div class="p-col-12 p-d-flex p-jc-center"> 
                        <h1 style="color: #F1A509; text-align: center; font-size: 3em; font-weight: bold;">97</h1>
                    </div>
                </div>
            </div>
            <div class="p-col-12" style="background-color: #F1A509;"></div>
        </div>
    </p-card> -->


</div>

<!-- <div class="p-grid p-m-6">
    <p-card class="p-col-12">
        <p-chart type="bar" [data]="dados.conflictoProvinciaBar" [options]="basicOptions"></p-chart>
    </p-card>
    
</div> -->


