<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header>
<app-nav [showMenu]="showMenu"></app-nav> -->
<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header> -->
<p-toast></p-toast>

<p-card *ngIf="isRole('Estudante')">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-md-3">
            <p-card>
                <div class="p-col-12 p-md-12">
                    <h2 style="font-weight:bold">Dados do Estudante</h2>
                    <div class="p-grid">
                        <div class="p-col-4"></div>
                        <div class="p-col-4">
                            <mat-icon style="font-size: 6rem">account_circle</mat-icon>
                        </div>
                        <div class="p-col-4"></div>
                    </div>
                    
                </div>
                <div class="p-col-12 p-md-12">
                    <div>
                        <label>Nome</label>
                        <input disabled="true" [(ngModel)]="tfcInfo?.estudante.nome" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.estudante?.nome}}>
                    </div>
                    <div>
                        <label>Email</label>
                        <input disabled="true" [(ngModel)]="tfcInfo?.estudante.email" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder="Digite o email">
                    </div>
                    <div>
                        <label>Telefone</label>
                        <input disabled="true" [(ngModel)]="tfcInfo?.estudante.telefone" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.estudante?.nome}}>
                    </div>
    
                </div>
                <div class="p-col-12 p-md-12"></div>
                
            </p-card>
        </div>


        <div class="p-col-12 p-md-9">
            <p-card>
                <div class="p-grid">
                    <div class="p-d-flex p-nogutter p-jc-between p-col-12 p-md-12">
                        <div class="">
                            <h2 style="font-weight:bold">Dados do TFC</h2>
                        </div>
                        <div class="">
                            <!-- <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" 
                            (click)="modal(tfcInfo)" pTooltip="Novo" tooltipPosition="bottom"></button> -->
                            <button *ngIf='findEstadoTFC(tfcInfo?.estado)==="Aprovado" || findEstadoTFC(tfcInfo?.estado)==="Em Desenvolvimento"' pButton pRipple 
                            icon="pi pi-list" class="p-button-rounded p-button-text" (click)="verTarefas(tfcInfo.id)" pTooltip="Ver Tarefas" tooltipPosition="bottom"></button>
                            <button *ngIf='findEstadoTFC(tfcInfo?.estado)==="Aprovado" || findEstadoTFC(tfcInfo?.estado)==="Em Desenvolvimento"' pButton pRipple 
                            icon="pi pi-calendar-plus" class="p-button-rounded p-button-text" (click)="verEncontros(tfcInfo.id)" pTooltip="Ver Encontros" tooltipPosition="bottom"></button>
                        </div>

                    </div>
                    <!-- <div class="p-d-flex p-nogutter p-jc-between">
                        <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limparTabela(dt)"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
                    </div> -->

                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-10">
                        <label>Tema</label>
                        <input disabled="true" [(ngModel)]="tfcInfo.titulo" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.titulo}}>
                    </div>
                    <div class="p-col-12 p-md-2">
                        <label>Estado</label>
                        <input disabled="true" (ngModel)="findEstadoTFC(tfcInfo?.estado)" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{findEstadoTFC(tfcInfo?.estado)}}>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <label>Descrição</label>
                        <textarea [rows]="6" [cols]="30" [disabled]="true" id="descricao" type="text" class="p-mb-4" 
                        placeholder={{tfcInfo?.descricao}} [(ngModel)]="tfcInfo.descricao" pInputTextarea></textarea>
                        <!-- <input disabled="true" [(ngModel)]="tfcInfo.descricao" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.descricao}}> -->
                    </div>
                    <div class="p-col-12 p-md-8">
                        <label>Tutor</label>
                        <input disabled="true" [(ngModel)]="tfcInfo?.professor.nome" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.professor?.nome}}>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label>Area de Conhecimeto</label>
                        <input disabled="true" [(ngModel)]="tfcInfo?.area.descricao" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.area?.descricao}}>
                    </div>
                    <!-- <div class="p-col-12 p-md-12">
                        <label>Tema</label>
                        <input disabled="true" [(ngModel)]="tfcInfo.titulo" class="p-mb-4" type="text" pInputText name="" id=""
                            placeholder={{tfcInfo?.titulo}}>
                    </div> -->

                </div>
                
            </p-card>
        </div>
    </div>
</p-card>

<!--------------------- tabela --------------------------------------->
<p-card *ngIf='isRole("Professor")||isRole("Coordenador")'>
    <!-- <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-help p-button-text" 
                    (click)="reportTFCs()" pTooltip="Relatorios" tooltipPosition="bottom"></button> -->
    
    <h3>TFC</h3>
    <!-- <p-table *ngIf='isRole("Estudante")' #dt [value]="tfcs" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id" 
            [globalFilterFields]="['titulo','area.descricao','professor.nome']"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} tfcs" styleClass="p-datatable-customers p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tema <p-columnFilter type="text" field="tfc.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Area <p-columnFilter type="text" field="tfc.area.descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Professor <p-columnFilter type="text" field="tfc.professor.nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estado <p-columnFilter type="text" field="tfc.estado" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:18%;text-align:center">Operação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tfc>
            <tr>
                <td>{{tfc.titulo}}</td>
                <td>{{tfc?.area?.descricao}}</td>
                <td>{{tfc?.professor?.nome}}</td>
                <td>{{findEstadoTFC(tfc?.estado)}}</td>
                <td style="text-align:center">
                    <button *ngIf='isRole("Admin")||isRole("Professor")' pButton pRipple icon="pi pi-pencil" 
                    class="p-button-rounded p-button-success p-button-text p-mr-2" (click)="modal(tfc)" pTooltip="Editar" tooltipPosition="bottom"></button>
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-help p-button-text" 
                    (click)="modalDetalhes(tfc)" pTooltip="Detalhes" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento"' pButton pRipple 
                    icon="pi pi-list" class="p-button-rounded p-button-text" (click)="verTarefas(tfc.id)" pTooltip="Ver Tarefas" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento"' pButton pRipple 
                    icon="pi pi-users" class="p-button-rounded p-button-text" (click)="verEncontros(tfc.id)" pTooltip="Ver Encontros" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align:center">LISTA DE TFC VAZIA.</td>
            </tr>
        </ng-template>
    </p-table> -->


    <p-table *ngIf='isRole("Professor")' #dt [value]="tfcs" [rows]="10" 
            [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id" [globalFilterFields]="['titulo','descricao','professor.nome']"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} tfcs" styleClass="p-datatable-customers p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <!-- <div class="p-d-flex p-nogutter p-jc-between">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limparTabela(dt)"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
            </div> -->
            <div class="p-d-flex">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estudante <p-columnFilter type="text" field="tfc.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tema <p-columnFilter type="text" field="tfc.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Area <p-columnFilter type="text" field="tfc.descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estado <p-columnFilter type="text" field="tfc.estado" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th style="width:14rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefone de Serviço <p-columnFilter type="text" field="detalhes.telefone1" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voip <p-columnFilter type="text" field="area.voip" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        BigAnt <p-columnFilter type="text" field="detalhes.bigAnt" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th style="width:18%;text-align:center">Operação</th>
                <!-- <th class="p-d-flex p-jc-between p-ai-center">Operação</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tfc>
            <tr>
                <td>{{tfc?.estudante?.nome}}</td>
                <td>{{tfc.titulo}}</td>
                <td>{{tfc?.area?.descricao}}</td>
                <td>{{findEstadoTFC(tfc?.estado)}}</td>
                <!-- <td>{{findArea(tfc?.idArea)}}</td>
                <td>{{findProfessor(tfc?.idProfessor)}}</td> -->
                <!-- <td>{{tfc.Professor.Nome}}</td> -->
                <td style="text-align:center">
                    <!-- <button *ngIf='isRole("Admin")||isRole("Professor")' pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-mr-2" (click)="modal(tfc)" pTooltip="Editar" tooltipPosition="bottom"></button> -->
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-help p-button-text" 
                    (click)="modalDetalhes(tfc)" pTooltip="Detalhes" tooltipPosition="bottom"></button>
                    <!-- <p-checkbox *ngIf="!tfc.respostaEstudante" id="{{tfc.id}}" [(ngModel)]="tfc.respostaEstudante" [binary]="true" (onChange)="alterarEstado(tfc)"></p-checkbox> -->
                    <button *ngIf='tfc.respostaProfessor===false' pButton pRipple icon="pi pi-thumbs-up" class="p-button-rounded p-button-text" 
                    (click)="alterarEstado(tfc)" pTooltip="Aceitar TFC" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento"' pButton pRipple 
                    icon="pi pi-list" class="p-button-rounded p-button-text" (click)="verTarefas(tfc.id)" pTooltip="Ver Tarefas" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento"' pButton pRipple 
                    icon="pi pi-calendar-plus" class="p-button-rounded p-button-text" (click)="verEncontros(tfc.id)" pTooltip="Ver Encontros" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align:center">LISTA DE TFC VAZIA.</td>
            </tr>
        </ng-template>
    </p-table>


    <p-table *ngIf='isRole("Coordenador")' #dt [value]="tfcs" [rows]="10" 
            [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id" 
            [globalFilterFields]="['tfc.estudante.nome','tfc.titulo','tfc.area.descricao','tfc.professor.nome','tfc.estado']"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} Propostas" styleClass="p-datatable-customers p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <!-- <div class="p-d-flex p-nogutter p-jc-between">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limparTabela(dt)"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal()" pTooltip="Novo" tooltipPosition="bottom"></button>
            </div> -->
            <div class="p-d-flex">
                <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estudante <p-columnFilter type="text" field="tfc.estudante.nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tema <p-columnFilter type="text" field="tfc.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Area <p-columnFilter type="text" field="tfc.area.descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Professor <p-columnFilter type="text" field="tfc.professor.nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estado <p-columnFilter type="text" field="tfc.estado" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th style="width:14rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefone de Serviço <p-columnFilter type="text" field="detalhes.telefone1" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voip <p-columnFilter type="text" field="area.voip" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        BigAnt <p-columnFilter type="text" field="detalhes.bigAnt" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th style="width:18%;text-align:center">Operação</th>
                <!-- <th class="p-d-flex p-jc-between p-ai-center">Operação</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tfc>
            <tr>
                <td>{{tfc?.estudante?.nome}}</td>
                <td>{{tfc?.titulo}}</td>
                <td>{{tfc?.area?.descricao}}</td>
                <td>{{tfc?.professor?.nome}}</td>
                <td>{{findEstadoTFC(tfc?.estado)}}</td>
                <!-- <td>{{findArea(tfc?.idArea)}}</td>
                <td>{{findProfessor(tfc?.idProfessor)}}</td> -->
                <!-- <td>{{tfc.Professor.Nome}}</td> -->
                 <!--<td>{{findNomeCompleto(tfc.codigoDoCandidato)}}</td> {{contacto.tfc.nome}}-->
                <!-- <td>{{findArea(tfc.ultimaActualizacaoLaboral?.areaId)}} ({{findOrgao(tfc.ultimaActualizacaoLaboral?.orgaoId)}})</td> {{contacto.area.denominacao}} ({{contacto.area.orgao.sigla}}) -->
                <!--<td>{{tfc.ultimaActualizacaoLaboral?.cargo?.estruturaCargo}}</td>  {{contacto.tfc.cargo}} -->
                <td style="text-align:center">
                    <button *ngIf='isRole("Admin")||isRole("Coordenador")' pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-mr-2" (click)="modal(tfc)" pTooltip="Editar" tooltipPosition="bottom"></button>
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-help p-button-text" (click)="modalDetalhes(tfc)" pTooltip="Detalhes" tooltipPosition="bottom"></button>
                    <!-- <p-checkbox *ngIf="!tfc.respostaEstudante" id="{{tfc.id}}" [(ngModel)]="tfc.respostaEstudante" [binary]="true" (onChange)="alterarEstado(tfc)"></p-checkbox> -->
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Proposta" && isRole("Professor")||isRole("Estudante")'
                     pButton pRipple icon="pi pi-thumbs-up" class="p-button-rounded p-button-text" (click)="alterarEstado(tfc)" 
                     pTooltip="Alterar Estado da Proposta" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento" && isRole("Coordenador")' 
                    pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-text" (click)="verTarefas(tfc?.id)" 
                    pTooltip="Ver Tarefas" tooltipPosition="bottom"></button>
                    <button *ngIf='findEstadoTFC(tfc?.estado)==="Aprovado" || findEstadoTFC(tfc?.estado)==="Em Desenvolvimento"' pButton pRipple 
                    icon="pi pi-calendar-plus" class="p-button-rounded p-button-text" (click)="verEncontros(tfc?.id)" pTooltip="Ver Encontros" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" style="text-align:center">LISTA DE PROPOSTAS DE TFC VAZIA.</td>
            </tr>
        </ng-template>
    </p-table>


    <!-- <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-jc-between">
            <p-button label="Retroceder" (onClick)="retroceder()" icon="pi pi-angle-left"></p-button>
            <p-button label="Seguinte" (onClick)="proximo()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template> -->
    <!-- <ng-template pTemplate="content">
    </ng-template> -->
</p-card>

<!--------------------- modal --------------------------------------->
<p-dialog #formTFC [header]="cabecario" appendTo="body" [(visible)]="exibir" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-8">
            <label>Titulo *</label>
            <input [disabled]='!isRole("Admin")' id="titulo" type="text" [(ngModel)]="tfc.titulo" pInputText> 
            <small class="p-invalid" *ngIf="validar && !tfc.titulo">Campo Obrigatório.</small>
        </div>

        <div class="p-field p-col-12 p-md-4">
            <label>Estado</label>
            <p-dropdown optionLabel="name" optionValue="code" inputId="estado" [options]="estadoTFCs" [(ngModel)]="tfc.estado" placeholder="-- Seleccionar --"></p-dropdown>
            <!-- <input id="estadoTarefa" type="text" [(ngModel)]="tarefa.estadoTarefa" pInputText>  -->
            <small class="p-invalid" *ngIf="validar && !tfc.estado">Campo Obrigatório.</small>
        </div> 

        <div class="p-field p-col-12 p-md-12">
            <label>Descrição</label>
            <textarea [disabled]='!isRole("Admin")' id="descricao" type="text" [(ngModel)]="tfc.descricao" pInputTextarea></textarea>
            <!-- <input id="descricao" type="text" [(ngModel)]="tfc.descricao" pInputTextarea>  -->
            <small class="p-invalid" *ngIf="validar && !tfc.descricao">Campo Obrigatório.</small>
        </div> 

        <!-- <div class="p-field p-col-12 p-md-12">
            <label>Aceitar Proposta</label>
            <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-help p-button-text" (click)="alterarEstado(tfc)" pTooltip="Aceitar Proposta" tooltipPosition="bottom"></button>
            Icones para Aceitar Proposta pi-thumbs-up, pi-check
            <p-checkbox *ngIf="!tfc.respostaEstudante" id="{{tfc.id}}" [(ngModel)]="tfc.respostaEstudante" [binary]="true" (onChange)="alterarEstado(tfc)"></p-checkbox>
            <small class="p-invalid" *ngIf="validar && !tfc.respostaEstudante">Campo Obrigatório.</small>
        </div>  -->

        
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-save"  (click)="salvar()" label="Salvar"></button>
        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancelar()" label="Cancelar" class="p-button-danger"></button>
    </ng-template>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-dialog header="DETALHES DO TEMA" appendTo="body" [(visible)]="exibirDetalhes" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-detalhes [tfc]="tfc"></app-detalhes>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-confirmDialog [style]="{width: '500px'}" #cd>
    <p-footer>
        <button class="p-button-success" type="button" pButton pRipple icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button class="p-button-danger" type="button" pButton pRipple icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
