
<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header> -->

<!--------------------- tabela --------------------------------------->
<p-card>
    <h3>Areas</h3>
    <p-table #dt [value]="areas" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="Id" [globalFilterFields]="['Descricao']" 
             [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} áreas" styleClass="p-datatable-customers p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-mr-auto">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal(area)" pTooltip="Novo" tooltipPosition="bottom"></button>
                </span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                    <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center"> 
                        Área de Conhecimento<p-columnFilter type="text" field="Descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:8rem;text-align:center">Operação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-area>
            <tr>
                <td>{{area?.descricao}}</td>
                <td style="text-align:center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text" (click)="modal(area)" pTooltip="Editar" tooltipPosition="bottom"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="eliminarArea(area.id)" pTooltip="Eliminar" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" style="text-align:center">LISTA DE ÁREAS VAZIA.</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-jc-between">
            <p-button label="Retroceder" (onClick)="retroceder()" icon="pi pi-angle-left"></p-button>
            <p-button label="Seguinte" (onClick)="proximo()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
    <!-- <ng-template pTemplate="content">
    </ng-template> -->
</p-card>

<!---------------------------- modal -------------------------------->
<p-dialog [header]="cabecario" [(visible)]="exibir" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <label>Área </label>
            <input id="descricao" type="text" [(ngModel)]="area.descricao"  pInputText/>
        </div>
        <!-- <div class="p-field p-col-12 p-md-4">
            <label>Ponto-a-Ponto</label>
            <p-inputMask id="pontoPonto" mask="9999" [(ngModel)]="area.pontoPonto" placeholder="0000"></p-inputMask>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label>Telefone Fixo</label>
            <p-inputMask id="telefone" mask="222999999" [(ngModel)]="area.telefone" placeholder="222999999"></p-inputMask>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label>Voip</label>
            <p-inputMask id="voip" mask="9999" [(ngModel)]="area.voip" placeholder="0000"></p-inputMask>
        </div> -->
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-save"  (click)="salvar()" label="Salvar"></button>
        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancelar()" label="Cancelar" class="p-button-danger"></button>
    </ng-template>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-confirmDialog [style]="{width: '500px'}" #cd>
    <p-footer>
        <button type="button" pButton pRipple icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton pRipple icon="fa fa-fw fa-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>