<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header>
<app-nav [showMenu]="showMenu"></app-nav> -->
<!-- <app-header [deviceXs]="deviceXs" [deviceSm]="deviceSm"></app-header> -->
<p-toast></p-toast>

<!--------------------- tabela --------------------------------------->
<p-card>
    
    <h3>Bancas</h3>

    <p-table #dt [value]="bancas" [rows]="10" 
            [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id" 
            [globalFilterFields]="['banca.estudante.nome','banca.area.descricao','banca.professor.nome','banca.estado']"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} até {last} de {totalRecords} Bancas" styleClass="p-datatable-customers p-datatable-gridlines">
        
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-mr-auto">
                    <button *ngIf="isRole('Coordenador')" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="modal(banca)" pTooltip="Novo" tooltipPosition="bottom"></button>
                </span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                    <button pButton label="Todos" class="p-button-outlined" icon="pi pi-filter-slash" (click)="limpar(dt)"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estudante <p-columnFilter type="text" field="banca.tfc.estudante.nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tema <p-columnFilter type="text" field="banca.tfc.titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Data da Apresentação <p-columnFilter type="text" field="banca.dataApresentacao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Hora da Apresentação <p-columnFilter type="text" field="banca.dataApresentacao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Professor <p-columnFilter type="text" field="banca.tfc.professor.nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th style="width:14rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefone de Serviço <p-columnFilter type="text" field="detalhes.telefone1" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voip <p-columnFilter type="text" field="area.voip" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:10rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        BigAnt <p-columnFilter type="text" field="detalhes.bigAnt" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th style="width:18%;text-align:center">Operação</th>
                <!-- <th class="p-d-flex p-jc-between p-ai-center">Operação</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-banca>
            <tr>
                <td>{{banca?.tfc?.estudante?.nome}}</td>
                <td>{{banca?.tfc?.titulo}}</td>
                <td>{{banca?.dataApresentacao | date:'dd/MM/yyyy'}}</td>
                <td>{{banca?.dataApresentacao | date:'HH:mm'}}</td>
                <td>{{banca?.tfc?.professor?.nome}}</td>
                <!-- <td>{{findArea(tfc?.idArea)}}</td>
                <td>{{findProfessor(tfc?.idProfessor)}}</td> -->
                <!-- <td>{{tfc.Professor.Nome}}</td> -->
                 <!--<td>{{findNomeCompleto(tfc.codigoDoCandidato)}}</td> {{contacto.tfc.nome}}-->
                <!-- <td>{{findArea(tfc.ultimaActualizacaoLaboral?.areaId)}} ({{findOrgao(tfc.ultimaActualizacaoLaboral?.orgaoId)}})</td> {{contacto.area.denominacao}} ({{contacto.area.orgao.sigla}}) -->
                <!--<td>{{tfc.ultimaActualizacaoLaboral?.cargo?.estruturaCargo}}</td>  {{contacto.tfc.cargo}} -->
                <td style="text-align:center">
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-help p-button-text" 
                    (click)="modalDetalhes(banca)" pTooltip="Detalhes" tooltipPosition="bottom"></button>

                    <button 
                    pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-danger p-button-text" id="{{banca.id}}" 
                    pTooltip="Baixar o TFC do Estudante" (click)="baixarTFC(banca?.tfc?.id)"></button>

                    <button 
                    pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-success p-button-text" id="{{banca.id}}" 
                    pTooltip="Ver Correção" (click)="modalVisualizarCorrecao(banca)"></button>

                    <!-- <button 
                    pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-danger p-button-text" id="{{banca.id}}" 
                    pTooltip="Fazer Correção" (click)="modalAnexarFicheiro(banca)"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" style="text-align:center">LISTA DE BANCAS DE TFC VAZIA.</td>
            </tr>
        </ng-template>
    </p-table>


    <!-- <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-jc-between">
            <p-button label="Retroceder" (onClick)="retroceder()" icon="pi pi-angle-left"></p-button>
            <p-button label="Seguinte" (onClick)="proximo()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template> -->
    <!-- <ng-template pTemplate="content">
    </ng-template> -->
</p-card>

<!--------------------- modal --------------------------------------->
<p-dialog #formTFC [header]="cabecario" appendTo="body" [(visible)]="exibir" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-md-6">
            <div class="p-field p-col-12 p-md-12">
                <label>Estudante *</label>
                <p-dropdown [filter]="true" filterBy="estudante.nome" optionLabel="estudante.nome" optionValue="" inputId="estudante" 
                [options]="tfcs" [(ngModel)]="tfcSelecionado" placeholder="-- Seleccionar --"></p-dropdown>
                <!-- <input id="estadoTarefa" type="text" [(ngModel)]="banca.estadoTarefa" pInputText>  -->
                <small class="p-error" *ngIf="validar && !tfcSelecionado">Campo Obrigatório.</small>
            </div>
    
            <div class="p-field p-col-12 p-md-12">
                <label>Presidente *</label>
                <p-dropdown [filter]="true" filterBy="nome" optionLabel="nome" optionValue="" inputId="presidente" 
                [options]="professores" [(ngModel)]="presidente" placeholder="-- Seleccionar --"></p-dropdown>
                <small class="p-error" *ngIf="validar && !presidente">Campo Obrigatório.</small>
                <!-- <p-pickList [metaKeySelection]="true" [dragdrop]="true" filterBy="nome" sourceHeader="Lista de Professores" 
                targetHeader="Professores Selecionado" [responsive]="true" [source]="professores" [target]="bancasProfessores">
                    <ng-template let-professor pTemplate="item">
                        <div>
                            <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                            <div style="font-size:14px;float:right;margin:15px 5px 0 0">Nome: {{professor.nome}}</div>
                            <div><h4>{{professor.nome}}</h4></div>
                        </div>
                    </ng-template>
                </p-pickList> -->
            </div>
    
            <div class="p-field p-col-12 p-md-12">
                <label>1º Vogal *</label>
                <p-dropdown [filter]="true" filterBy="nome" optionLabel="nome" optionValue="" inputId="primeiroVogal" 
                [options]="professores" [(ngModel)]="primeiroVogal" placeholder="-- Seleccionar --"></p-dropdown>
                <small class="p-error" *ngIf="validar && !primeiroVogal">Campo Obrigatório.</small>
            </div>
    
            <div #test class="p-field p-col-12 p-md-12">
                <label>2º Vogal *</label>
                <p-dropdown appendTo="test" [filter]="true" filterBy="nome" optionLabel="nome" optionValue="" inputId="segundoVogal" 
                [options]="professores" [(ngModel)]="segundoVogal" placeholder="-- Seleccionar --"></p-dropdown>
                <small class="p-error" *ngIf="validar && !segundoVogal">Campo Obrigatório.</small>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label>Hora da Apresentação</label>
                <p-calendar [(ngModel)]="dataHoraApresentacao" [showTime]="true" inputId="time"></p-calendar>
                <!-- <p-calendar id="calendar" [showTime]="true" hourFormat="24"
                 [(ngModel)]="dataHoraApresentacao" dateFormat="dd/mm/yy"></p-calendar> -->
                <small class="p-error" *ngIf="validar && !dataHoraApresentacao">Campo Obrigatório.</small>
            </div>
        </div>
        <div class="p-col-12 p-md-6">
            <div class="p-field p-col-12 p-md-12">
                <label>Data da Apresentação</label>
                <p-calendar id="calendar" showTime="true" hourFormat="24"
                inline="true" [(ngModel)]="dataHoraApresentacao" dateFormat="dd/mm/yy"></p-calendar>
                <small class="p-error" *ngIf="validar && !dataHoraApresentacao">Campo Obrigatório.</small>
            </div>
        </div>
        
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-save"  (click)="salvar()" label="Salvar"></button>
        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancelar()" label="Cancelar" class="p-button-danger"></button>
    </ng-template>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-dialog #formActividade appendTo="body" [header]="visualizarCorrecaoHeader" [(visible)]="exibirBaixarCorrecao" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid p-grid">

        <div class="p-col-12 p-md-12">
            <div class="p-grid">
                <!-- <div class="p-col-12 p-md-12">
                    <embed src=this.ficheiroTFC type="">
                </div> -->

                <div *ngIf="isRole('Professor')" class="p-field p-col-12 p-md-11 p-mt-2">
                    <label>Comentario</label>
                    <input [disabled] = 'isRole("Estudante") || isRole("Coordenador")' [(ngModel)]="correcao.Comentario" type="text" pInputText name="" id=""
                        placeholder={{correcao.Comentario}}>
                    <!-- <textarea [disabled] = 'isRole("Estudante") || isRole("Coordenador")' id="comentarioCorrecao" 
                    [rows]="5" type="text" [(ngModel)]="comentario" pInputTextarea></textarea> -->
                    <small class="p-invalid" *ngIf="validar && !this.correcao.Comentario">Campo Obrigatório.</small>
                </div>
                <div *ngIf="isRole('Professor')" class="p-field p-col-12 p-md-1 p-mt-2">
                    <label>_____</label>
                    <button pButton pRipple icon="pi pi-plus" class="p-button p-button-help" 
                    (click)="adicionarCorrecao(banca)" pTooltip="Adicionar" tooltipPosition="bottom"></button>
                </div>
    
                <div class="p-field p-col-12 p-md-12 p-mt-2">
                    <label>Correções da Banca para o TFC</label>
                    <p-table #dt [value]="correcoes" [scrollable]="true" scrollHeight="200px">
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Correção
                                        <p-columnFilter type="text" field="correcao?.comentario" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-correcao>
                            <tr>
                                <td>{{correcao?.comentario}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="1" style="text-align:center">LISTA DE CORREÇÕES VAZIA.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        
    </div>
    <!-- <ng-template pTemplate="footer">

        <button type="button" pButton pRipple icon="pi pi-times" 
        (click)="cancelar()" label="Cancelar" class="p-button-danger"></button>

        <button *ngIf="isRole('Professor')" 
        pButton pRipple icon="pi pi-download" class="p-button-success" id="{{banca.id}}" 
        pTooltip="Baixar Correção" label="Baixar" (click)="{}"></button>
    </ng-template> -->
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-dialog header="DETALHES DA BANCA" appendTo="body" [(visible)]="exibirDetalhes" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-detalhes-banca [banca]="banca" [bancasProfessores]="banca.bancasProfessores"></app-detalhes-banca>
</p-dialog>

<!--------------------- modal --------------------------------------->
<p-confirmDialog [style]="{width: '500px'}" #cd>
    <p-footer>
        <button class="p-button-success" type="button" pButton pRipple icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button class="p-button-danger" type="button" pButton pRipple icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
