<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-grid">
                <span class="item-spacer"></span>
                <img class="logo p-col-6" src="assets/images/logo_sg_tfc.png" alt="logo">
                <!-- <span class="item-spacer"></span> -->
                <!-- <div>
                    <h2 style="color: rgb(137, 53, 82);">URGÊNCIAS 24H 929 529 551</h2>
                    <h5 style="color: rgb(137, 53, 82);">Estamos disponíveis 24H na clínica ou em domicílios.</h5>
                </div> -->
                <span class="item-spacer"></span>
            </div>
        </div>
    </div>
</p-card>
<mat-toolbar class="header mat-elevation-z4 header-position sidenav">
    <mat-toolbar-row>
        <!-- <img class="logo" src="assets/images/Roda_Dentada_Angola.png" alt="logo"> -->
        <!-- <button class="texts-color" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button> -->
        <span class="item-spacer"></span>
        <!-- <h1 class="texts-color p-center">CLÍNICA VETERINARIA DE LUANDA</h1> -->

        <div>


            <button class="texts-color" mat-button routerLink=""><mat-icon class="icons-color"> home
                </mat-icon>INICIO</button>

            <button *ngIf='isRole("Estudante")||isRole("Coordenador")' class="texts-color" mat-button [matMenuTriggerFor]="menuProposta"><mat-icon class="icons-color">
                    book </mat-icon>PROPOSTA</button>
            <mat-menu class="custom-menu" #menuProposta="matMenu" xPosition="after">
                <button *ngIf='isRole("Coordenador")' class="texts-color" mat-menu-item routerLink="/listarPropostas"><mat-icon
                        class="icons-color"> list </mat-icon>PROPOSTAS DE TFC</button>
                <button *ngIf='isRole("Estudante")' class="texts-color" mat-menu-item routerLink="/enviarProposta"><mat-icon
                        class="icons-color"> send </mat-icon>ENVIAR PROPOSTA</button>
            </mat-menu>

            <button class="texts-color" mat-button [matMenuTriggerFor]="menuTCC"><mat-icon class="icons-color">
                    book </mat-icon>TFC</button>
            <mat-menu class="custom-menu" #menuTCC="matMenu" xPosition="after">
                <button class="texts-color" mat-menu-item routerLink="/listarTFCsDefendidos"><mat-icon
                        class="icons-color"> list </mat-icon>TRABALHOS DEFENDIDOS</button>
                <button *ngIf='isRole("Estudante")' class="texts-color" mat-menu-item routerLink="/registarServico"><mat-icon
                        class="icons-color"> send </mat-icon>ENVIAR TFC</button>
                <!-- <button class="texts-color" mat-menu-item routerLink="pesquisar"><mat-icon class="icons-color">
                        person_search </mat-icon>PESQUISAR SERVIÇOS</button> -->
            </mat-menu>

            <!-- <button class="texts-color" mat-button [matMenuTriggerFor]="afterMenu1"><mat-icon class="icons-color">
                    groups </mat-icon>ACTIVIDADES</button>
            <mat-menu class="custom-menu" #afterMenu1="matMenu" xPosition="after">
                <button class="texts-color" mat-menu-item routerLink="registar/requerente"><mat-icon
                        class="icons-color"> person_add </mat-icon>REGISTAR </button>
                <button class="texts-color" mat-menu-item routerLink="pesquisar"><mat-icon class="icons-color">
                        person_search </mat-icon>PESQUISAR</button>
            </mat-menu> -->

            <!-- <button class="texts-color" mat-button [matMenuTriggerFor]="afterMenu1"><mat-icon class="icons-color">
                    home_work </mat-icon>NOSSAS UNIDADES</button>
            <mat-menu class="custom-menu" #afterMenu1="matMenu" xPosition="after">
                <button class="texts-color" mat-menu-item routerLink="registar/requerente"><mat-icon
                        class="icons-color"> person_add </mat-icon>REGISTAR </button>
                <button class="texts-color" mat-menu-item routerLink="pesquisar"><mat-icon class="icons-color">
                        person_search </mat-icon>PESQUISAR</button>
            </mat-menu> -->


            <button *ngIf='isRole("Estudante")' class="texts-color" mat-button routerLink="/listarActividades"><mat-icon class="icons-color"> ruler
                </mat-icon>ACTIVIDADES</button>


            <button *ngIf='isRole("Estudante")' class="texts-color" mat-button routerLink="/PropostaReservada"><mat-icon class="icons-color"> list
                </mat-icon>Meu Tema</button>


            <button *ngIf='isRole("Professor")' class="texts-color" mat-button routerLink="/PropostaReservada"><mat-icon class="icons-color"> list
                </mat-icon>Meus Orientandos</button>


            <button *ngIf='isRole("Professor")||isRole("Estudante")' class="texts-color" mat-button routerLink="/encontros">
                <mat-icon class="icons-color"> event</mat-icon>Encontros</button>


            <!-- <button class="texts-color" mat-button routerLink="/dashboard"><mat-icon class="icons-color"> info
                </mat-icon>CALENDARIO</button> -->

            <!-- <button class="texts-color" mat-button [matMenuTriggerFor]="menuUsuario"><mat-icon class="icons-color">
                manage_accounts </mat-icon></button>
            <mat-menu class="custom-menu" #menuUsuario="matMenu" xPosition="after">
                <button class="texts-color" mat-menu-item routerLink="registarProrietario/acesso"><mat-icon
                        class="icons-color"> person_add </mat-icon>PROPRIETARIO </button>
                <button class="texts-color" mat-menu-item routerLink="registarVeterinario/acesso-veterinario"><mat-icon class="icons-color">
                        person_search </mat-icon>VETERINARIA</button>
            </mat-menu> -->


            
        </div>
        <span class="item-spacer"></span>


        <button *ngIf='isRole("Admin")||isRole("Coordenador")' class="texts-color espaco" mat-button [matMenuTriggerFor]="adminMenu">
            <mat-icon class="icons-color"> miscellaneous_services </mat-icon>ADMINISTRAÇÃO
        </button>
        <mat-menu class="custom-menu" #adminMenu="matMenu" xPosition="after">
            <button class="texts-color menu-buttom-item" mat-menu-item routerLink="/oos"><mat-icon
                    class="icons-color"> supervisor_account </mat-icon>USUARIOS</button>
            <button class="texts-color" mat-menu-item routerLink="/areas"><mat-icon class="icons-color">
                    corporate_fare </mat-icon>AREAS</button>
        </mat-menu>

        <!-- <button mat-icon-button [matBadge]="5" matBadgeColor="warn" matBadgePosition="above after"  (click)="infoNotifications()">
            <mat-icon>notifications</mat-icon>
        </button> -->

        <button (click)="infoNotifications()" mat-icon-button style="margin-right: 1em;">
            <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.5rem; color: white;" value={{quantNotificacoes}}></i>
        </button>

        <!-- <button (click)="infoUser()" mat-icon-button class="espaco" mat-button [matMenuTriggerFor]="userMenu"> -->
        <button (click)="infoUser()" mat-icon-button class="espaco" mat-button>
            <mat-icon class="icons-color">manage_accounts</mat-icon>
        </button>
        <!-- <mat-menu class="custom-menu" #userMenu="matMenu" xPosition="after">
            <mat-icon class="icons-color"> miscellaneous_services </mat-icon><label class="icons-color">Adilson da Silva</label>
            <button class="texts-color menu-buttom-item" mat-menu-item routerLink="/oos"><mat-icon
                    class="icons-color"> supervisor_account </mat-icon>USUARIOS</button>
            <button class="texts-color" mat-menu-item routerLink="/areas"><mat-icon class="icons-color">
                    corporate_fare </mat-icon>AREAS</button>
        </mat-menu> -->

        <button (click)="logOut()" mat-icon-button class="espaco">
            <mat-icon class="icons-color">power_settings_new</mat-icon>
        </button>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row class="mat-custom-row">
      <h1 class="text-title">SISTEMA DE GESTÃO</h1>
    </mat-toolbar-row> -->
</mat-toolbar>

<!-- Rotas que serão chamadas apartir do Menu -->
<router-outlet></router-outlet>

<p-sidebar #userperfil [(visible)]="showPerfil" position="right" [baseZIndex]="10000">
    <div class="p-grid">
        <div class="p-col-12">
            <h1 style="font-weight:normal">Perfil</h1>
            <div class="p-grid">
                <div class="p-col-4"></div>
                <div class="p-col-4">
                    <mat-icon style="font-size: 6rem">account_circle</mat-icon>
                </div>
                <div class="p-col-4"></div>
            </div>

            <!-- <div>
                <label>Nome</label>
                <input disabled="true" [(ngModel)]="userInfo.nome" class="p-col-12 p-mb-4" type="text" pInputText name="" id=""
                    placeholder="Digite o nome completo">
            </div> -->
            <div>
                <label>Usuário</label>
                <input disabled="true" [(ngModel)]="userInfo.nome" class="p-col-12 p-mb-4" type="text" pInputText name="" id=""
                    placeholder={{userInfo.nome}}>
            </div>
            <div>
                <label>Email</label>
                <input disabled="true" [(ngModel)]="userInfo.email" class="p-col-12 p-mb-4" type="text" pInputText name="" id=""
                    placeholder="Digite o email">
            </div>
            <div class="p-d-flex p-jc-center p-mt-4">
                <button disabled="true" pButton pRipple icon="pi pi-save" class="p-col-3 p-button-rounded p-button-help p-button-text" 
                    (click)="showPerfil = false" pTooltip="Salvar" tooltipPosition="bottom"></button>
                <button disabled="true" pButton pRipple icon="pi pi-pencil" class="p-col-3 p-ml-2 p-button-rounded p-button-help p-button-text" 
                    (click)="showPerfil = false" pTooltip="Salvar" tooltipPosition="bottom"></button>
                <button disabled="true" pButton pRipple icon="pi pi-times" class="p-col-3 p-ml-2 p-button-rounded p-button-help p-button-text" 
                    (click)="showPerfil = false" pTooltip="Salvar" tooltipPosition="bottom"></button>
                <!-- <p-button disabled="true" class="p-col-3" type="button" (click)="showPerfil = false" label="Salvar"
                    styleClass="p-button-success"></p-button>
                <p-button class="p-col-3 p-ml-2" type="button" (click)="showPerfil = false" label="Editar"
                    styleClass="p-button-secondary"></p-button>
                <p-button class="p-col-3 p-ml-2" type="button" (click)="showPerfil = false" label="Cancelar"
                    styleClass="p-button-secondary"></p-button> -->
            </div>
        </div>
    </div>
</p-sidebar>

<p-sidebar #userNotification [style]="{'height': '100%', 'overflow-y': 'auto'}" [(visible)]="showNotifications" position="right" [baseZIndex]="10000">
    <div class="p-grid">
        <div class="p-col-12">
            <h1 style="font-weight:normal">Notificações</h1>
            <div class="p-grid">
                <div class="p-col-4"></div>
                <div class="p-col-4">
                    <mat-icon style="font-size: 6rem">account_circle</mat-icon>
                </div>
                <div class="p-col-4"></div>
            </div>
            <p-messages #mensagemComponent [(value)]="msgs" [enableService]="false">
                <!-- <ng-template pTemplate>
                    <div class="p-ml-2">Always bet on Prime.</div>
                    <table>
                        <thead>
                          <tr>
                            <th>Tipo</th>
                            <th>Detalhe</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let notification of msgs">
                            <td>{{ notification.severity }}</td>
                            <td>{{ notification.detail }}</td>
                          </tr>
                        </tbody>
                      </table>
                </ng-template> -->
            </p-messages>

            <div class="p-grid">
                <p-button disabled="true" class="p-col-3" type="button" (click)="showPerfil = false" label="Salvar"
                    styleClass="p-button-success"></p-button>
                <p-button class="p-col-3 p-ml-2" type="button" (click)="showPerfil = false" label="Editar"
                    styleClass="p-button-secondary"></p-button>
                <p-button class="p-col-3 p-ml-2" type="button" (click)="showPerfil = false" label="Cancelar"
                    styleClass="p-button-secondary"></p-button>
            </div>
        </div>
    </div>
</p-sidebar>