
<p-panel header="Trabalho de Fim de Curso">
    <div class="p-grid">
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">TITULO:</span> {{banca?.tfc?.titulo}}</div>
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">ESTUDANTE:</span> {{banca?.tfc?.estudante?.nome}}</div>
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">ORIENTADOR:</span> {{banca?.tfc?.professor?.nome}}</div>
        <div class="p-col-12 p-md-12 p-ml-auto"><span style="font-weight: bold;">APRESENTAÇÃO</span></div>
        <div class="p-col-12 p-md-6"><span style="font-weight: bold">DATA:</span> {{banca?.dataApresentacao | date:'dd/MM/yyyy'}}</div>
        <div class="p-col-12 p-md-6"><span style="font-weight: bold">HORA:</span> {{banca?.dataApresentacao | date:'HH:mm'}}</div>
        <div class="p-col-12 p-md-12 p-ml-auto"><span style="font-weight: bold;">BANCA</span></div>
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">PRESIDENTE:</span> {{ presidente?.nome }}</div>
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">1º VOGAL:</span> {{ primeiroVogal?.nome }}</div>
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">2º VOGAL:</span> {{ segundoVogal?.nome }}</div>
        <!-- <div class="p-col-12 p-md-4"><span style="font-weight: bold">PROFESSOR:</span> {{banca?.descricao}}</div> -->
        
        <!-- <div class="p-col-12"><span style="font-weight: bold">Área:</span> {{area?.denominacao}}</div>

        <div class="p-col-12"><span style="font-weight: bold">Orgão:</span> {{orgao?.denominacao}} - {{orgao?.sigla}}</div>

        <div class="p-col-12 p-md-4"><span style="font-weight: bold">BigAnt:</span> </div> {{candidato?.contactos?.bigAnt}}
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Telefone [ Serviço:</span> {{candidato?.contactos?.telefone2}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Pessoal:</span> {{candidato?.contactos?.telefone1}} ]</div> 
        <div class="p-col-12"> <span style="font-weight: bold">E-mail:</span> {{candidato?.contactos?.email}}</div> 

        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Ponto-a-Ponto:</span> {{area?.pontoPonto}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Telefone fixo:</span> {{area?.telefone}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Voip:</span> {{area?.voip}}</div>  -->
    </div>
</p-panel>


