
<p-panel header="TAREFA">
    <div class="p-grid">
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">TAREFA: </span> {{tarefa.titulo}}</div>
        <!-- <div class="p-col-12 p-md-4"><span style="font-weight: bold">PROFESSOR:</span> {{tarefa?.descricao}}</div> -->
        <div class="p-col-12 p-md-12"><span style="font-weight: bold">DESCRIÇÃO:</span> {{tarefa?.descricao}}</div>
        
        <!-- <div class="p-col-12"><span style="font-weight: bold">Área:</span> {{area?.denominacao}}</div>

        <div class="p-col-12"><span style="font-weight: bold">Orgão:</span> {{orgao?.denominacao}} - {{orgao?.sigla}}</div>

        <div class="p-col-12 p-md-4"><span style="font-weight: bold">BigAnt:</span> </div> {{candidato?.contactos?.bigAnt}}
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Telefone [ Serviço:</span> {{candidato?.contactos?.telefone2}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Pessoal:</span> {{candidato?.contactos?.telefone1}} ]</div> 
        <div class="p-col-12"> <span style="font-weight: bold">E-mail:</span> {{candidato?.contactos?.email}}</div> 

        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Ponto-a-Ponto:</span> {{area?.pontoPonto}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Telefone fixo:</span> {{area?.telefone}}</div> 
        <div class="p-col-12 p-md-4"><span style="font-weight: bold">Voip:</span> {{area?.voip}}</div>  -->
    </div>
</p-panel>


